header  {
	position: relative;
	margin-bottom: 16px;
	border: 1px solid var(--border);
	box-shadow: 4px 4px 0 var(--border);
}
header  h1  {
	position: absolute;
	bottom: 24px;
	left: 24px;
	font-family: var(--font-display);
	background: var(--gradient);
	box-shadow: 4px 4px 0 var(--border);
	color: #000;
	margin: 0;
	padding: 8px 16px;
	font-size: 16px;
}

:root {
	color-scheme: dark;
	--background: #181c2d;
	--scrollbar-background: #20253c;
	--border: #868ca2;
	--foreground: #a5adcf;
	);
}

html {
	background: var(--background) center/cover
		no-repeat;
	scrollbar-color: var(--border) var(--scrollbar-background);
	scrollbar-width: thin;
}
body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	padding: 48px 48px 108px;
}

@media only screen and (max-width: 1024px) {
	body {
		padding: 28px 12px 48px;
	}
}
@media only screen and (max-width: 768px) {
	nav {
		display: flex;
	}
	nav a {
		flex: 1 1 auto;
	}
}
main {
	margin: auto;
	width: 925px;
	max-width: 100%;
}
