---
import Navigation from './navi.astro';
import Menu from './menu.astro';
import ThemeIcon from './ThemeIcon.astro';
//<>
---

<header>
  <nav>
    <div>
      <ThemeIcon />
    <Menu />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>